.jumbotron{
	margin-top: 70px;/*to remove overlap of jumbotron and navbar*/
	color:#2c3e58;
	background: #ecf0f1;
}
.row{
	padding-right: 13px;
	padding-left:13px;
}
.navbar-inverse{
	background:#2c3e58;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.thumbnail{
	overflow:hidden;
}
.thumbnail:hover img{
  animation:imla 5s ease-in-out infinite 0.6s backwards;
}
img{
  opacity:0.8;
}
@keyframes imla{
	0%{
		opacity:0.9;	
	}
	50%
	{
		transform: scale(1.5);
		opacity:1.0;	
	}
	100%{
		transform: scale(1.2);
		opacity:0.8;	
	}
}
